#Python-Data Structures

1. What are data structures, and why are they important?
  - Data structures are ways to organize and store data efficiently. They are important because they allow for efficient data manipulation, retrieval, and storage, which is crucial in algorithm design and programming.
2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types can be modified after creation (e.g., lists).
  - Immutable data types cannot be changed once created (e.g., strings or tuples).
3. What are the main differences between lists and tuples in Python?
  - Lists are mutable and can be modified, while tuples are immutable and cannot be changed after creation.
4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs, where each key is unique and maps to a specific value.
5. Why might you use a set instead of a list in Python?
  - Sets are used when you need to store unique elements and perform operations like union, intersection, or difference.
6. What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters and is immutable. A list is mutable and can contain multiple data types.
7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, so their contents cannot be changed after creation, ensuring data integrity.
8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented as hash tables.
9. Can lists contain different data types in Python?
  - Yes, lists can contain different data types, such as integers, strings, and other objects.
10. Explain why strings are immutable in Python.
  - Strings are immutable to ensure their values remain constant, which helps with security and performance.
11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries offer faster lookups by key compared to lists, which require linear search.
12. Describe a scenario where using a tuple would be preferable over a list.
  - Tuples are preferable when you want to store a collection of related items that should not be modified.
13. How do sets handle duplicate values in Python?
  - Sets automatically remove duplicates, ensuring all elements are unique.
14. How does the “in” keyword work differently for lists and dictionaries?
  - In a list, “in” checks for the presence of an element. In a dictionary, “in” checks for the presence of a key.
15. Can you modify the elements of a tuple? Explain why or why not.
  - No, tuples are immutable, so their elements cannot be modified after creation.
16. What is a nested dictionary, and give an example of its use case.
  - A nested dictionary is a dictionary that contains another dictionary as a value.
  - Example: {'user': {'name': 'Alice', 'age': 30}}.     
17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing elements in a dictionary has an average time complexity of O(1).
18. In what situations are lists preferred over dictionaries?
  - Lists are preferred when the order of elements matters, or when you need to store a collection of items with duplicate values.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are unordered, so the order of elements is not guaranteed. This affects retrieval when order is important.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists use index-based retrieval, while dictionaries use key-based retrieval for faster access.

#Practical Question

In [1]:
# 1. Write a code to create a string with your name and print it.
name = "Nagendra"
print(name)

Nagendra

In [2]:
# 2. Write a code to find the length of the string "Hello World".
s = "Hello World"
print(len(s))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
s = "hello"
print(s.upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [12]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [13]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
fruits = (100, 200, 300)
print(fruits)

(100, 200, 300)

In [14]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [15]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [16]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [17]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

In [18]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {'a', 'b', 'c'}
print(letters)

{'c', 'b', 'a'}

In [19]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [20]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [21]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [22]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [24]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [25]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [27]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [28]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [29]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [30]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[17, 26, 40, 86, 88]

In [31]:
# 28. Write a code to create a list with strings and print the element at the third index.
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [32]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
# 30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple", "cherry"]
unique_strings = set(string_list)
print(unique_strings)

{'cherry', 'apple', 'banana'}